<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Adicionar horário</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form #form="ngForm" [formGroup]="registerForm" role="form" (submit)="registerControlPoint()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Entrada Um</label>
                      <input formControlName="hourInputOne" type="time" id="input-username" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Saida Um</label>
                      <input formControlName="hourExitOne" type="time" id="input-email" class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Entrada Dois</label>
                      <input formControlName="hourInputTwo" type="time" id="input-first-name" class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Saida Dois</label>
                      <input formControlName="hourExitTwo" type="time" id="input-last-name" class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-success">
                          Registrar
                          <ngx-spinner color="white" size="medium"></ngx-spinner>
                        </button>
                    </div>
                </div>
              </div>
              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  